body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
}

/* head */
header {
    background-color: #D3B8FF; /* Color de fondo morado claro */
    padding: 20px;
    text-align: center; /* Centra el contenido */
    position: relative; /* Permite posicionar los iconos absolutamente */
}

.container-title {
    display: flex; /* Utiliza flexbox para colocar el título y el logo lado a lado */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    position: relative; /* Permite posicionar los iconos absolutamente */
}

.title-index {
    color: #4B0082; /* Color del título */
    font-family: Arial, sans-serif; /* Fuente del título */
    font-size: 70px; /* Tamaño del título */
    margin: 0; /* Quita el margen del título */
}

.logo {
    width: 100px; /* Ancho del logo */
    height: auto; /* Altura ajustada automáticamente */
    margin-left: 10px; /* Espacio entre el título y el logo */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute; /* Posición absoluta para los iconos */
    top: 50%; /* Coloca los iconos en la mitad superior del header */
    right: 20px; /* Margen derecho para los iconos */
    transform: translateY(-50%); /* Centra verticalmente los iconos */
}

ul li {
    display: inline-block;
    margin-left: 10px; /* Espacio entre los iconos */
}

.home-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute; /* Posición absoluta para los iconos */
    top: 50%; /* Coloca los iconos en la mitad superior del header */
    left: 20px; /* Margen derecho para los iconos */
    right: unset;
    transform: translateY(-50%); /* Centra verticalmente los iconos */
}

ul li a {
    color: #4B0082; /* Color de los iconos */
    font-size: 24px; /* Tamaño de los iconos */
    text-decoration: none;
    transition: color 0.3s; /* Transición en el cambio de color */
}

ul li a:hover {
    color: yellow;
}

.home-icon {
    color: #4B0082; /* Color de los iconos */
    font-size: 24px; /* Tamaño de los iconos */
    text-decoration: none;
    transition: color 0.3s; /* Transición en el cambio de color */
    left: 30px;
}

.home-icon:hover {
    color: yellow;
}

/* Barra de navegación */

.nav-links {
    top: 20px;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #4B0082; /* Color del texto blanco */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: yellow; /* Color de texto al hacer hover */
}

.models-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.model {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px; /* Ancho fijo para los contenedores de los modelos */
    background-color: #fff;
}

.model img {
    max-width: 100%;
    height: 200px; /* Altura fija para las imágenes */
    object-fit: cover; /* Ajustar la imagen para cubrir el área */
    border-radius: 10px;
    margin-bottom: 10px;
}

.model h2 {
    font-size: 18px;
    margin: 10px 0;
}

.model p {
    margin: 5px 0;
}

/* Estilos para el botón "Agregar al carrito" */
.add-to-cart {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4B0082;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-to-cart:hover {
    background-color: #371a6f;
}

/* Estilos específicos para cada marca */
.brand-page.brand-samsung header,
.brand-page.brand-samsung footer {
    background-color: #ADD8E6; /* Azul pastel Samsung */
    color: #1428a0;
}

.brand-page.brand-samsung .title-model {
    color: #1428a0; /* Azul Samsung */
}

.brand-page.brand-samsung .home-icon,
.brand-page.brand-samsung .home-icon:hover {
    color: #1428a0;
}

.brand-page.brand-samsung .model {
    border-color: #1428a0;
}

.brand-page.brand-apple header,
.brand-page.brand-apple footer {
    background-color: #D3D3D3; /* Gris pastel Apple */
    color: #000;
}

.brand-page.brand-apple .title-model {
    color: #000; /* Negro Apple */
}

.brand-page.brand-apple .home-icon,
.brand-page.brand-apple .home-icon:hover {
    color: #000;
}

.brand-page.brand-apple .model {
    border-color: #000;
}

.brand-page.brand-xiaomi header,
.brand-page.brand-xiaomi footer {
    background-color: #FFDAB9; /* Naranja pastel Xiaomi */
    color: #ff6900;
}

.brand-page.brand-xiaomi .title-model {
    color: #ff6900; /* Naranja Xiaomi */
}

.brand-page.brand-xiaomi .home-icon,
.brand-page.brand-xiaomi .home-icon:hover {
    color: #ff6900;
}

.brand-page.brand-xiaomi .model {
    border-color: #ff6900;
}

.brand-page.brand-huawei header,
.brand-page.brand-huawei footer {
    background-color: #F08080; /* Rojo pastel Huawei */
    color: #d82a26;
}

.brand-page.brand-huawei .title-model {
    color: #d82a26; /* Rojo Huawei */
}

.brand-page.brand-huawei .home-icon,
.brand-page.brand-huawei .home-icon:hover {
    color: #d82a26;
}

.brand-page.brand-huawei .model {
    border-color: #d82a26;
}

/* Footer styles */
footer {
    padding: 50px;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-info,
.social-media,
.quick-links,
.newsletter {
    flex: 1 1 300px;
    margin-bottom: 30px;
}

.contact-info h3,
.social-media h3,
.quick-links h3,
.newsletter h3 {
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.contact-info p,
.social-media ul,
.quick-links ul {
    margin-bottom: 10px;
}

.contact-info a,
.social-media a,
.quick-links a,
.newsletter {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.contact-info a:hover,
.social-media a:hover,
.quick-links a:hover,
.newsletter a:hover {
    color: yellow;
}

.social-media ul li {
    margin-bottom: 5px;
}

.newsletter form {
    display: flex;
    align-items: center;
}

.newsletter input[type="email"] {
    padding: 10px;
    flex: 1;
    margin-right: 10px;
    border: none;
}

.newsletter button {
    padding: 10px 20px;
    background-color: yellow;
    border: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: #f90;
}

/* Chatbot button styles */
#chatbot-float-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4B0082;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 1000;
}

#chatbot-float-btn:hover {
    background-color: #371a6f;
    transform: scale(1.1);
}

@media (max-width: 720px){
    .title-index{
        font-size: 50px !important;
    }
    .title-model {
        font-size: 30px !important;
    }
}

@media (max-width: 600px){
    .title-index{
        font-size: 30px !important;
    }

    .logo{
        width: 60px;
    }
    .title-model {
        font-size: 20px !important;
    }
}

.add-to-cart, .remove-from-cart {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4B0082;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-to-cart:hover, .remove-from-cart:hover {
    background-color: #371a6f;
}


/* Centrar el subtítulo */
.title-model {
    text-align: center;
}

.cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
    vertical-align: super;
    position: absolute;
    top: 0;
    right: 0;
}

@keyframes fly-to-cart {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px) scale(0.5);
    }
}

.fly-to-cart {
    position: absolute;
    z-index: 1000;
    animation: fly-to-cart 1s forwards;
}
